/*.button{
        text-decoration:none;
        text-align:center;
        padding:11px 32px;
        border:none;

        font:27px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-weight:bold;
        color:#ffffff;
        background-color:#3bc740;
        background-image: -moz-linear-gradient(top, #3bc740 0%, #7da519 100%);
        background-image: -webkit-linear-gradient(top, #3bc740 0%, #7da519 100%);
        background-image: -o-linear-gradient(top, #3bc740 0%, #7da519 100%);
        background-image: -ms-linear-gradient(top, #3bc740 0% ,#7da519 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7da519', endColorstr='#7da519',GradientType=0 );
        background-image: linear-gradient(top, #3bc740 0% ,#7da519 100%);
        -webkit-box-shadow:0px 0px 7px #bababa, inset 0px 0px 1px #ffffff;
        -moz-box-shadow: 0px 0px 7px #bababa,  inset 0px 0px 1px #ffffff;
        box-shadow:0px 0px 7px #bababa, inset 0px 0px 1px #ffffff;

        text-shadow: 0px 0px 2px #ffffff;
        filter: dropshadow(color=#ffffff, offx=0, offy=0);
        }
*/

.button {
    border-top: 1px solid #96d1f8;
    background: #519e16;
    background: -webkit-gradient(linear, left top, left bottom, from(#2c96cf), to(#519e16));
    background: -moz-linear-gradient(top, #2c96cf, #519e16);
    background: -ms-linear-gradient(top, #2c96cf, #519e16);
    background: -o-linear-gradient(top, #2c96cf, #519e16);
    padding: 8px 16px; -webkit-border-radius: 12px;
    -moz-border-radius: 12px; border-radius: 12px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #ffffff;
    font-size: 16px;
    font-family: Georgia, Serif;
    text-decoration: none;
    vertical-align: middle;
}
.button:hover {
    color: #f7f7f7;
    background: #00678e;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top, #0095cc, #00678e);
    background: -ms-linear-gradient(top, #0095cc, #00678e);
    background: -o-linear-gradient(top, #0095cc, #00678e);
}
.button:active {
    border-top-color: #00adee;
    background: #00adee;
}
